@inherits LayoutComponentBase

<style>
    .cursor {
        cursor: pointer;
    }
    /*.rz-navigation-item-link {
        background: #1c57b9 !important;
    }*/
</style>
<NavMenu>
</NavMenu>
<Navbar>
</Navbar>

<div id="main">
    <div class="container-xl pl-5">
        @Body
    </div>
</div>

