@page "/empresas"
@inject HttpClient http
@inject NavigationManager navigate
@inject SweetAlertService Swal;
@inject IJSRuntime Js
<div class="row mb-3">
    <div class="col">
        <h2>
            Empresas
        </h2>
    </div>
    <div class="col d-flex justify-content-end">
        <RadzenButton Click=@(args => navigate.NavigateTo("empresas/nueva-empresa")) Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" />
    </div>
</div>

<RadzenCard>
    @if (getEmpresas != null)
    {
        @if (getEmpresas.Count != 0)
        {
            <RadzenDataGrid AllowFiltering="true" @ref="Grid" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="6"
                            AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                            Data="@getEmpresas" TItem="GetEmpresa" ColumnWidth="300px"
                            LogicalFilterOperator="LogicalFilterOperator.Or">
                <Columns>
                    <RadzenDataGridColumn TItem="GetEmpresa" Property="Nombre" Title="Nombre empresa" Width="140px" />
                    <RadzenDataGridColumn TItem="GetEmpresa" Property="Nombre_propietario" Title="Nombre propietario" Width="140px" />
                    <RadzenDataGridColumn TItem="GetEmpresa" Property="Telefono" Title="Telefono" Width="140px" />
                    <RadzenDataGridColumn TItem="GetEmpresa" Property="Direccion" Title="Direccion" Width="140px" />
                    <RadzenDataGridColumn TItem="GetEmpresa" Title="Opciones" Width="60px" Filterable="false">
                        <Template Context="data">
                            <div class="col">
                                <RadzenButton Click="@(() => ConfirmacionEliminarEmpresa(data))" Style="display:inline" Icon="delete_forever" ButtonStyle="ButtonStyle.Danger" />
                                <RadzenButton Click=@(args => navigate.NavigateTo($"empresas/editar-empresa/{data.IdEmpresa}")) Style="display:inline" Icon="edit" ButtonStyle="ButtonStyle.Success" />
                            </div>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        }
        else
        {
            <div class="alert alert-info">
                No se encontraron datos...
            </div>
        }
    }
    else
    {
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }
</RadzenCard>

@code {

}
