@inject HttpClient Http
<div class="col-sm-5 m-auto">
    <RadzenCard class="mt-3 w-100">
        <div class="text-center">
            <div class="m-auto">
                <img src="https://cdn-icons-png.flaticon.com/512/2580/2580363.png" height="50" width="50" alt="Alternate Text" />
            </div>

            <EditForm Model="activar" OnValidSubmit="GuardarTarjeta">
                <DataAnnotationsValidator />
                <div class="col p-4">
                    <div class="form-group">
                        <h3>No. tarjeta</h3>
                        <RadzenMask Mask="*********" CharacterPattern="[0-9]" Placeholder="Escanee o digite el numero de la tarjeta..." Name="SN"
                                    @bind-Value=@activar.NTarjeta class="form-control" Style="width: 100%;" />
                        <ValidationMessage For=@(() => activar.NTarjeta) />
                    </div>
                    <hr class="mb-0" />
                    <input type="submit" class="btn btn-success w-100" value="Activar" />
                </div>
            </EditForm>
        </div>
        @if (response != null)
        {
            <div class="alert alert-@(response.ok==true ? "success":"danger")">
                @response.mensaje
            </div>
        }
    </RadzenCard>
</div>

@code {

}
